{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  <div class="row">

    <div class="col-md-7">
      {% for post in posts %}
      <div class="well col-md-12">
          <h2> {{ post.titre }} </h2>
          <i class="col-md-12">*Publié le {% if post.createAt %}{{ post.createAt|date('d-m-Y') }}{% endif %}, Modifié le  {% if post.updateAt %}{{ post.updateAt|date('d-m-Y') }}{% endif %}</i>
          <img class="img-responsive col-md-6 col-md-offset-3"src="img/placeholder.png" alt="" />
          <p class="col-md-12">{{ post.contenu }}</p>
        </div>
        {% endfor %}
      </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">A propos</div>
        <div class="panel-body">
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa
          qui officia deserunt mollit anim id est laborum.

          </p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Les derniers articles</div>
        <div class="panel-body"><a href="#">Article 1</a></div>
        <div class="panel-body"><a href="#">Article 2</a></div>
        <div class="panel-body"><a href="#">Article 3</a></div>
      </div>
  </div>

</div><!--row-->
  </div><!--container-->

  <footer> copiryght </footer>



</body>

<script src="https://use.fontawesome.com/5ae75527aa.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

</html>
{% endblock %}
